dojo.registerModulePath("app", "../../app");
dojo.registerModulePath("extLib", "../../lib");
dojo.registerModulePath("stdlib", "../../stdlib");
dojo.require("app.SiteMap");

var init = function() {
	var ctrlIniter = mojo.controller.Map.getInstance();
	ctrlIniter.setSiteMap(app.SiteMap);
	ctrlIniter.mapControllers();
};
dojo.addOnLoad(init);

