<!-- TODO: Move response.render() out of the module and into the app.js, makes it more clear -->
<div id="container" class="page-achievements">
  <div id="main">
    <h1>Your Achievements</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Achievement Points</th>
      </tr>
      <%- partial('achievement', achievements) %>
    </table>
    <footer></footer>
  </div>
</div> <!-- end of #container -->