<div class="dialog-arena dialog-content">
  <h2>Arena Master</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Achievement Points</th>
    </tr>
    <%- partial('achievement', achievements) %>
  </table>
</div>