<div id="container" class="page-game">
  <header>
    <div class="shade"></div>
    
    <div id="navigation">
      <div class="nav-container">
        <ul>
          <li><button id="btn-friends" class="awesome">Friends (5 online)</button>
            <div id="friends">
              <ul>
                <li>Steve Carell</li>
                <li>Mr. Bean</li>
                <li>Arnold Schwarzenegger</li>
              </ul>
            </div>
          </li>
          <li><button id="btn-arena" class="awesome">Battle Arena</button></li>
          <li><button id="btn-leave" class="awesome">Leave Battle</button></li>
          <li><button id="btn-achievements" class="awesome">Achievements</button></li>
          <li><button id="btn-options" class="awesome">Options</button></li>
          <li><a id="btn-logout" href="/" class="red awesome">Logout</a></li>
        </ul>
      </div>
    </div>
  
  </header>
  
  <div id="main">
    <div id="chat-widget">
      <div class="shade"></div>
      <div class="chat-container">
        <div id="chat">
          <p>Connecting...</p>
        </div>
          
        <div class="chat-input">  
          <form id="form" onsubmit="send(); return false;">
            <input type="text" autocomplete="off" id="text"><button type="submit" class="awesome">Send</button>
          </form>
        </div>
      </div>

    </div>
    <div id="battleground">
      <div class="enemy-creatures">
      
      </div>
    
    
      <div class="my-creatures">
        <div id="card-lugia" class="tappable"></div>
      </div>
    </div>
    
    
    <div id="hand">
      <div class="shade panel"></div>
      <div class="gutter">
      
        <h2>MY HAND</h2>
        <ul class="hand-cards">
          <li>
            <div class="card">
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </li>
          
          <li>
            <div class="card">
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </li>
          
          <li>
            <div class="card">
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <footer></footer>
</div> <!-- end of #container -->