<div id="container" class="page-game">
  <header>
    <div id="navigation">
      <div class="shade"></div>
      <div class="nav-container">
        <ul>
          <li>Chat (200)</li>
          <li>Battle Arena</li>
          <li>Leave Battle</li>
          <li>Achievements</li>
        </ul>
      </div>
    </div>
    <div id="user-status">500-143 (78% win rate)</div>
  
  </header>
  
  <div id="main">

    <div id="battleground">
      <div class="enemy-creatures">
      
      </div>
    
    
      <div class="my-creatures">
        <div id="card-lugia">
          150HP
        </div>
      </div>
    </div>
    
    
    <div id="hand">
      <div class="shade"></div>
      <div class="gutter">
      
        <h2>MY HAND</h2>
        <ul class="hand-cards">
          <li>

            <div class="card">
              <div class="front">
                <h3>Front</h3>
              </div>
              <div class="back">
                <div class="pad">
                  <h3>Back</h3>
                </div>
              </div>
            </div>
            
          </li>
          <li>
            <div class="card">
              <div class="front">
                <h3>Front</h3>
              </div>
              <div class="back">
                <div class="pad">
                  <h3>Back</h3>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="front">
                <h3>Front</h3>
              </div>
              <div class="back">
                <div class="pad">
                  <h3>Back</h3>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="front">
                <h3>Front</h3>
              </div>
              <div class="back">
                <div class="pad">
                  <h3>Back</h3>
                </div>
              </div>
            </div>
          </li>
          
          <li>
            <div class="card">
              <div class="front">
                <h3>Front</h3>
              </div>
              <div class="back">
                <div class="pad">
                  <h3>Back</h3>
                </div>
              </div>
            </div>
          </li>
          
          <li>
            <div class="card">
              <div class="front">
                <h3>Front</h3>
              </div>
              <div class="back">
                <div class="pad">
                  <h3>Back</h3>
                </div>
              </div>
            </div>
          </li>
          
          <li>
            <div class="card">
              <div class="front">
                <h3>Front</h3>
              </div>
              <div class="back">
                <div class="pad">
                  <h3>Back</h3>
                </div>
              </div>
            </div>
          </li>
          
          
          
          
        </ul>
      </div>
    </div>

  </div>

  <footer></footer>
</div> <!-- end of #container -->