html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

html {
  -webkit-font-smoothing: antialiased; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul {
  margin-left: 30px; }

ol {
  margin-left: 30px;
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

html {
  overflow-y: scroll; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

@media screen and (max-width: 319px) {
  .unit {
    float: none !important;
    width: auto !important; } }

.line:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "; }

.line {
  *zoom: 1; }

.unit {
  float: left; }

.size1of1 {
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size1of4 {
  width: 25%; }

.size3of4 {
  width: 75%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }

body {
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  background: url(/images/backgrounds/grass.gif); }

button {
  border: 0 none; }

.awesome, .awesome:visited {
  background: #222222 url(/images/buttons/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer; }

.awesome:hover {
  background-color: #111;
  color: #fff; }

.awesome:active {
  top: 1px; }

.small.awesome, .small.awesome:visited {
  font-size: 11px;
  padding: inherit; }

.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

.large.awesome, .large.awesome:visited {
  font-size: 14px;
  padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited {
  background-color: #91bd09; }

.green.awesome:hover {
  background-color: #749a02; }

.blue.awesome, .blue.awesome:visited {
  background-color: #2daebf; }

.blue.awesome:hover {
  background-color: #007d9a; }

.red.awesome, .red.awesome:visited {
  background-color: #e33100; }

.red.awesome:hover {
  background-color: #872300; }

.magenta.awesome, .magenta.awesome:visited {
  background-color: #a9014b; }

.magenta.awesome:hover {
  background-color: #630030; }

.orange.awesome, .orange.awesome:visited {
  background-color: #ff5c00; }

.orange.awesome:hover {
  background-color: #d45500; }

.yellow.awesome, .yellow.awesome:visited {
  background-color: #ffb515; }

.yellow.awesome:hover {
  background-color: #fc9200; }

#navigation {
  border-bottom: 1px solid #000;
  height: 30px;
  color: #fff; }
  #navigation .shade {
    position: absolute;
    top: 0px;
    width: 100%;
    background: #000;
    opacity: 0.6;
    height: 30px; }
  #navigation li {
    list-style: none;
    display: inline; }

.panel {
  box-shadow: 1px 1px 35px black;
  -moz-box-shadow: 1px 1px 35px black;
  -webkit-box-shadow: 1px 1px 35px black;
  -moz-border-radius: .6em;
  border-radius: .6em; }
  .panel .gutter {
    margin: 15px; }

.glossy-icon {
  box-shadow: 1px 1px 15px black;
  -moz-box-shadow: 1px 1px 15px black;
  -webkit-box-shadow: 1px 1px 15px black;
  -moz-border-radius: .6em;
  border-radius: .6em;
  background: #fff;
  display: block;
  width: 125px;
  height: 94px; }

/* TRANSITIONS */
.card {
  float: left;
  width: 107px;
  height: 150px;
  margin: 0 10px 0 0;
  position: relative;
  font-size: .8em;
  opacity: 1;
  -webkit-perspective: 700; }

/* -- make sure to declare a default for every property that you want animated -- */
.card .front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: url(/images/sprites/sprite-small-off.jpg) 0 0 no-repeat;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out; }

.card.flip .front {
  z-index: 900;
  border-color: #eee;
  -webkit-transform: rotateY(180deg);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }

.card .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out; }

.card.flip .back {
  z-index: 1000;
  -webkit-transform: rotateY(0deg);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }

.card .back, .card .front {
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: 1px solid #000; }

.tappable {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg); }

.tappable.tapped {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg); }

#chat-widget, #chat-widget iframe {
  width: 300px;
  height: 220px; }

#friends {
  display: none;
  position: absolute;
  width: 200px;
  height: 300px; }
  #friends ul {
    margin: 0px; }
    #friends ul li {
      display: block; }

#friends.active {
  display: block; }

.page-login {
  position: relative;
  color: #fff;
  text-shadow: 3px 3px 5px #000;
  border: 1px solid #000;
  background: transparent url(/images/backgrounds/bg-pokemon-login.jpg) center center no-repeat;
  width: 650px;
  height: 450px;
  margin: 50px auto 0 auto; }
  .page-login h1 {
    font-size: 32px;
    margin: 10px;
    text-transform: uppercase; }
  .page-login #login {
    margin: 15px 0px; }
    .page-login #login .users {
      margin: 0 0 15px 0; }
      .page-login #login .users li {
        position: relative;
        cursor: pointer;
        background: #fff;
        list-style: none;
        color: #111;
        margin-bottom: 15px;
        border: 1px solid #999;
        padding: 10px;
        opacity: 0.6;
        text-shadow: none; }
        .page-login #login .users li span.activation {
          position: absolute;
          right: 10px;
          top: 10px;
          color: #3cb700;
          display: none;
          text-transform: uppercase; }
        .page-login #login .users li .user-icon {
          background: #000;
          float: right;
          margin-right: 15px; }
        .page-login #login .users li .user-info h3 {
          font-size: 20px;
          text-transform: uppercase; }
        .page-login #login .users li.active {
          opacity: 1;
          background: transparent url(/images/backgrounds/bg-gradient.png) 0 0 repeat-x; }
          .page-login #login .users li.active span.activation {
            display: block; }
  .page-login .login-controls {
    position: absolute;
    right: 10px;
    bottom: 10px; }
    .page-login .login-controls li {
      display: inline;
      list-style: none; }

.page-game {
  /* BATTLEGROUND */
  /* HAND AREA */
  /* TESTING AREA */ }
  .page-game .my-creatures {
    position: absolute;
    width: 100%;
    bottom: 176px; }
  .page-game #hand {
    position: absolute;
    width: 100%;
    height: 175px;
    border-top: 1px solid #000;
    bottom: 0px; }
    .page-game #hand .gutter {
      width: 100%;
      position: relative; }
    .page-game #hand .shade {
      position: absolute;
      top: 0px;
      opacity: 0.6;
      width: 100%;
      height: 175px;
      background: #000; }
    .page-game #hand h2 {
      color: #fff;
      font-size: 30px;
      margin: -20px 0 0 25px;
      text-shadow: 3px 3px 5px #000; }
    .page-game #hand .hand-cards li {
      list-style: none; }
  .page-game #card-lugia {
    position: relative;
    margin: 0 auto;
    width: 174px;
    height: 250px;
    background: url(/images/testcards/lugia.jpg) 0 0 no-repeat; }
