.page-game {
  /* BATTLEGROUND */
  /* HAND AREA */
  /* TESTING AREA */ }
  .page-game .my-creatures {
    position: absolute;
    width: 100%;
    bottom: 176px; }
  .page-game #hand {
    position: absolute;
    width: 980px;
    height: 175px;
    bottom: 0px; }
    .page-game #hand .gutter {
      width: 100%;
      position: relative; }
    .page-game #hand .shade {
      position: absolute;
      top: 0px;
      width: 980px;
      opacity: 0.6;
      height: 175px;
      background: #000; }
    .page-game #hand h2 {
      color: #fff;
      font-size: 30px;
      margin: -20px 0 0 25px;
      text-shadow: 3px 3px 5px #000; }
    .page-game #hand .hand-cards li {
      list-style: none; }
  .page-game #card-lugia {
    position: relative;
    margin: 0 auto;
    width: 174px;
    height: 250px;
    background: url(/images/testcards/lugia.jpg) 0 0 no-repeat; }
